---
import Logo from "../../public/favicon.svg";
---

<nav
  class="flex justify-start md:justify-center md:px-16 px-8 items-center h-16 md:h-20 w-screen fixed top-0 z-10 bg-zinc-800 opacity-50"
>
  <img src={Logo} alt="Logo" class="h-full"/>
  <h1 class="text-white text-xl md:text-3xl font-thin">The Kalimbas</h1>
</nav>
